[run]
branch = true
source = editor_js
omit =
    */tests/*
    */example/*
    */migrations/*
    tasks.py

[report]
show_missing = True
exclude_lines =
    raise NotImplementedError
    pragma: no cover