# Virtual Environment
venv/
env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django project files
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# IDE and editor configuration
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
